/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --primary: orange;
  --constantMargin: 0 45px;

}

body {
  padding: 0;
  margin: 0;
  box-shadow: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 2;
  padding: 0 20px;
}

.menu div,
.menu {
  display: flex;
  flex-direction: row;
}

.menu {
  flex: 1
}

.logo {
  flex: 1
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  flex: 1
}

.menu ul li a {
  text-decoration: none;
  color: black
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--constantMargin);
}

.link {
  display: flex;
  margin: var(--constantMargin);
}

.link div:first {
  margin: 0px
}

.link div {
  margin: 10px;
}

.hero div button {
  background-color: lightgray !important;
  padding: 10px 90px !important;
  border-radius: 50px !important;
  border: 0;
  transition: all .5s ease-in-out;
}

.hero div button:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: all .5s ease-in-out;
}

.serv {
  background-color: var(--primary);
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--constantMargin);
  padding: 10px 0;
}

.services span {
  background-color: gray;
  padding: 50px;
  border-radius: 20px;
  color: white
}